@page
@model User.Presentation.Pages.Shared.LoginModel
@{
    Layout = null;
    var errorMessage = TempData["InvalidUser"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/forms.css" />
</head>
<body>
    <div class="form-container" style="max-width: 400px;">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">
                @errorMessage
            </div>
        }
        <h1>Login</h1>
        <form  method="POST">
            <div class="form-group">
                <label asp-for="UserDto.Email">Email</label>
                <input type="email" asp-for="UserDto.Email" placeholder="Enter your email" required>

                <span asp-validation-for="UserDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDto.Password">Password</label>
                <input type="password" asp-for="UserDto.Password" placeholder="Enter your password" required>

                <span asp-validation-for="UserDto.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="container d-flex justify-content-center mt-2">
                Don't have an account??  - Sign Up &nbsp;<a asp-area="" asp-page="/Shared/Register">Here</a>
            </div>
        </form>
    </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
